# R lang
**/.Rhistory

# OSX
**/.DS_Store

# python byte-compiled files
__pycache__/

# vscode
.vscode/

# sphinx docs
docs/_build/

# project specified (not sure)
output/
out/

# use lfs if needed
cnv_input/
data/
*.h5ad

# ignore .ipynb which is not directly under root
*/*.ipynb
draft/

# logs
*.out

config/
